{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Блог Александра Нельзина{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra-meta %}{% endblock %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/libs/highlight/default.css' %}"/>
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/main.css' %}">
    {% endcompress %}
    {% block extra-css %}{% endblock %}
</head>
<body>
    <header class="header">
        <h1 class="logo">
            <a class="blind_link" href="{% url "content:main" %}">Блог Александра Нельзина</a>
        </h1>
        <nav class="nav">
            <div class="nav_item">
                <a class="nav_link" href="{% url "content:all_post_view" %}">Все посты</a>
            </div>
            <div class="nav_item">
                <a class="nav_link" href="{% url "content:about" %}">Об авторе</a>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="footer_container">
            <div class="footer_copyrights">
                (c) Александр Нельзин, 2015
            </div>
            <div class="footer_info">
                Работает на Django, живет на DigitalOcean
            </div>
        </div>
    </footer>

    {% compress js %}
        <script src="{% static 'js/libs/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/libs/highlight.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    {% endcompress %}


    {% block extra-js %}{% endblock %}

    {% block counter %}
        {% if not debug %}
            {% include 'includes/_counters.html' %}
        {% endif %}
    {% endblock %}

</body>
</html>