{% extends 'base.html' %}
{% load endless %}

{% block content %}
    <h2 class="note_title">
        {% with count=object_list|length %}
            {{ count }} пост{% if count|get_digit:"1" != 1 %}а{% endif %} с тегом
            <em>{{ tag.name }}</em>
        {% endwith %}
    </h2>
    {% paginate 15 object_list %}
    {% for post in object_list %}
        {% include 'includes/_post.html' with post=post search_tag=tag is_title_link=True %}
    {% endfor %}
    {% get_pages %}
    <div class="pages">
        {% if not pages.current.is_last %}
            <a class="link" href="{{ pages.next.url }}">↧ <u>Ранее</u></a>
        {% endif %}
    </div>
{% endblock %}